*{
    list-style: none;
    margin: 0px;
    padding: 0px;
}
#conteneur{
   border: 3px solid black; 
   width: 650px;
   min-height: 404px ;
   margin: auto;
}
#header{
    border: 1px solid black;
    height: 100px;
}
#todolist{
    display: flex;
    justify-content: center;
}
#text{
    width: 350px;
    height: 50px;
    font-size: 19px;
    margin: 5px;
    margin-left: 110px;
    border: transparent;
}
#head{
    display: flex;
    flex-direction: row;
    padding-top: 20px;
}
#add{
    width: 100px;
    height: 40px;
    justify-content: center;
    display: flex;
    margin-top: 5px;
    align-items: center;
}
.crayon{
    width: 50px;
    margin: auto;
}
.button{
    width: 50px;
    height: 50px;
    font-size: 25px;
}
.bordure{
    border: 1px solid rgb(87, 87, 87);
    border-radius: 3px;
    width: 50px;
    height: 47.5px;
    background-color: rgb(236, 236, 236);
}
.flexend{
    display: flex;
    flex: 1;
    flex-direction: row;
    justify-content: flex-end; 
}
.contenant{
    display: flex;
}
li{
    display: flex;
    align-items: center;
}
.check{
    color: white;
}
.flex{
border-top: 0.1px solid black;
border-bottom: 0.1px solid black;
}
#button{
    border: transparent;
    background-color: gray;
}
#button:hover{
    background-color: rgb(173, 173, 173);
}
