table{
    border:1px solid black;
    width: 300px;
    height: 400px;
}
#affichage{
    border: 1px solid black;
    height:50px;
    margin:auto
}
.un{
    background-color: gray;
    height: 50px;
    text-align: center;
}
.deux{
    background-color: gray;
    height: 50px;
    text-align: center;

}
.trois{
    background-color: gray;
    height: 50px;
    text-align: center;

}
.quatre{
    background-color: gray;
    height: 50px;
    text-align: center;

}